@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark;
}

:root {
  --header-height: 6rem;
  --gutter: .8rem;

  --dark: #000;
  --dark-50: #0a0a0a;
  --dark-100: #171717;
  --dark-200: #262626;
  --dark-300: #373737;
  --dark-400: #525252;
  --dark-500: #8a8a8a;
  --dark-600: #a3a3a3;

  --light: #fff;
  --light-50: #fafafa;
  --light-100: #f5f5f5;
  --light-200: #e5e5e5;
  --light-300: #d4d4d4;
  --light-400: #737373;

  --primary: #1B56FD;

  --bg-main: var(--dark-50)

}


body {
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
}

input[type='checkbox'] {
  display: none;
}

.bg-special {
  background: linear-gradient(180deg, #0000, #0000004d);
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, .25));;
}

.checkmark {
  position: relative;
}

label input:checked + .checkmark::before {
  content: '';
  background: var(--light);
  width: 8px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 2px;
  border-radius: 2222px;
  transform: rotate(40deg);
}

label input:checked + .checkmark::after {
  content: '';
  background: var(--light);
  width: 13px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: 2222px;
  transform: rotate(-55deg);
}