@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark;
}

:root {
  --header-height: 6rem;
  --hover-alpha: .8;

  --carbon: #0A0A0A;
  --silver-mist: #D5D5D5;
  --emerald-flash: #0DA612;

  --carbon-hover: rgba(10, 10, 10, var(var(--hover-alpha)));

  --bg-main: var(var(--carbon))
}


body {
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
}

input[type='checkbox'] {
  display: none;
}

