@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark;
  font-size: 16px;
}


:root {
  --header-height: 6rem;
  --gutter: 1rem;

  --primary: #1B56FD;

  --gray-100: #f2f2f2;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3; /*200*/
  --gray-500: #848484;
  --gray-600: #525252;
  --gray-700: #373737;
  --gray-800: #171717;
  --gray-900: #0f0f0f; /*800, */

  --bg-main: black
}



body {
  min-height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
}

input[type='checkbox'] {
  display: none;
}

.wrapper {
  padding-inline: var(--gutter);
}

@media(width <= 30rem) {
  :root {
    --gutter: .25rem
  }
}

.bg-special {
  background: linear-gradient(180deg, #0000, #0000004d);
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, .25));;
}

.grid-container {
  display: grid;
  gap: .25rem;
  grid-template-columns: repeat(1, 1fr);

}

@media(width >= 23.75rem) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media(width >= 38rem) {
  .grid-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media(width >= 57rem) {
  .grid-container {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media(width >= 76rem) {
  .grid-container {
      grid-template-columns: repeat(5, 1fr);
  }
}

@media(width >= 95rem) {
  .grid-container {
      grid-template-columns: repeat(6, 1fr);
  }
}

@media(width >= 133rem) {
  .grid-container {
      grid-template-columns: repeat(7, 1fr);
  }
}

.checkmark {
  position: relative;
}

label input:checked + .checkmark::before {
  content: '';
  background: white;
  width: 8px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 2px;
  border-radius: 2222px;
  transform: rotate(40deg);
}

label input:checked + .checkmark::after {
  content: '';
  background: white;
  width: 13px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: 2222px;
  transform: rotate(-55deg);
}