@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #1b56fd;

  --color-gray-100: #f2f2f2;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #848484;
  --color-gray-600: #525252;
  --color-gray-700: #373737;
  --color-gray-800: #171717;
  --color-gray-900: #0f0f0f;

  /* Border */
  --radius-4xl: calc(0.5 * 48px);

  /* Spacing */
  /* --spacing: .0625rem */
}

:root {
  --background: var(--color-black)
}

html {
  @apply font-mono
}

body {
  min-height: 100dvh;
  background-color: var(--color-black);
}

img {
  user-select: none;
}


.check-input input:checked+span::before {
  content: "";
  background: white;
  width: 8px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 1px;
  border-radius: 2222px;
  transform: rotate(40deg);
}

.check-input input:checked+span::after {
  content: "";
  background: white;
  width: 13px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 5px;
  border-radius: 2222px;
  transform: rotate(-55deg);
}